.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Images/background.png');
    background-size: cover;
    background-position: center;
    z-index: 0; 
    font-family: 'BryndanWrite';
    
  }
  
  .screen.home-screen {
    position: relative;
    z-index: 1;
    background: transparent; 
  }
  

  @font-face {
    font-family: 'BryndanWrite';
    src: url('../../../public/fonts/BryndanWrite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.question-counter {
  background: #fff;
  color: #222;
  font-family: 'BryndanWrite', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 10px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  display: inline-block;
}
  